.banner {
    width: 414px;
height: 440px;
background-image: url(./img/banner.png);
background-repeat: no-repeat;

}.bemvindo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
border-radius: 5px;
width: 365px;
height: 54px;
text-align: center;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 29px;
text-align: center;
color: #3C2313;
}
p {
    width: 256px;
    height: 29px; 
} 
button {
    width: 141px;
height: 49px;
background: #F0A83E;
border-radius: 5px;
color: #FFFFFF;
}